* { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; }
p { font-family: 'Noto Sans KR', sans-serif; }
@font-face {
    font-family: "NanumSquare";
    src: url("font/NanumSquareR.ttf") format("ttf");
}
/* --------------------헤더-------------------- */
#header {
    width: 100%; height: 80px;
    position: fixed; top: 0px; z-index: 9999;
}
    .logo {
        display: flex; align-items: center;
        height: 100%; width: 40%;
    }
    .logo > a {
        font-family: "NanumSquare"; color: #F6F6F6; font-size: 1.5rem; font-weight: bold;
        padding: 20px;
    }
/* --------------------섹션-1-------------------- */
#section-1 {
    width: 100%; height: 100vh;
    background-color: #79ABFF;
    position: relative;
}
#section-1::before {
    content: ""; z-index: 1;
    display: block; position: absolute;
    right: 0; bottom: 0; margin-right: 20px;
    width: 33%; height: 43%;
    background: url("images/bg-img.svg") no-repeat;
    background-size: contain; background-position:center;
    opacity: 0.7;
}
    .img-box {
        width: 100%; height: 80%;
    }
        .img-box > img { 
            width: inherit; height: inherit;
            object-fit: cover; opacity: 0.8;
        }
    .text-box {
        width: 100%; height: 50%;
        position: absolute; top: 35%;
        display: flex; flex-direction: column; justify-content: center;
        color: #F6F6F6;
    }
    .text-box > p { font-size: 1.5rem; font-weight: bold; margin-left: 20px;}
    .text-box > span { font-size: 0.75rem; font-weight: bold; margin-top: 10px; margin-left: 20px;}

@media screen and (min-width:768px) {
    .img-box {
        width: 80%; height: 100%;
    }
    .text-box {
        width: 49%; right: 0; justify-content: flex-start;
    }
    .text-box > p { font-size: 1.7rem; margin: 0; }
    .text-box > span { font-size: 0.8rem; margin-left: 0; }

    #section-1::before {
        width: 25%; height: 50%;
    }
}
/* --------------------섹션-2-------------------- */
#section-2 {
    width: 100%; height: 100vh;
    background-color: #79ABFF;
    position: relative;
}